<div class="bus-reports">
    <h3>Bus Reports</h3>

    <div class="alert alert-danger" role="alert" ng-if="busReportsComponentVm.serverError">
       Unexpected Error occured. Please try again later.
    </div>
    <div uib-alert dismiss-on-timeout="2000" ng-if="busReportsComponentVm.saveSuccess" class="alert-info">Notes saved successfully</div>

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" is-open="status.isOpen" ng-repeat="busReport in busReportsComponentVm.busReports">
            <uib-accordion-heading>
                {{busReport.organisation}} - {{busReport.date}}
                <i class="pull-right fa fa-caret-square-o-down" ng-class="{'fa fa-caret-square-o-up': status.isOpen, 'fa fa-caret-square-o-down': !status.isOpen}"></i>
            </uib-accordion-heading>
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead class="bg-info">
                    <tr>
                        <th>Bus ID</th>
                        <th>Route Variant</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bus in busReport.busData">
                        <td>{{bus.busId}}</td>
                        <td><span ng-bind-html="bus.routeVariant | boldRoute"></span></td>
                        <td><span ng-bind-html="bus.deviationFromTimetable | busStatus"></span></td>
                    </tr>
                    </tbody>
                </table>
                <textarea ng-model="bus.notes" placeholder="Enter notes here" class="form-control" rows="5" ></textarea>
                <button ng-disabled="!bus.notes" class="btn btn-primary" ng-click="busReportsComponentVm.saveNotes(bus)">Save Notes</button>
            </div>
    </uib-accordion>
</div>